.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.columnend {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  width: 100%;
  flex: 1;
}
